.home-first-block {
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #151F2F 0%, #0B111A 100%);
  &__img {
    .mobile {
      display: none;
    }
    width: 100%;
    height: 100%;
    max-width: 1095px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media all and (max-width: $widthsm) {
      .pc {
        display: none;
      }
      .mobile {
        display: block;
      }
    }
  }
  &__wrapper {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 197px;
    padding-bottom: 134px;
    @media all and (max-width: $widthmd) {
      padding-top: 150px;
      padding-bottom: 60px;
    }
    @media all and (max-width: $widthsm) {
      padding-top: 108px;
      padding-bottom: 59px  ;
    }
  }
  &__title {
    margin-top: 80px;
    color: #fff;
    font-size: 36px;
    line-height: 44px;
    @media all and (max-width: $widthxl) {
      font-size: 32px;
    }
    @media all and (max-width: $widthmd) {
      margin-top: 30px;
    }
    @media all and (max-width: $widthsm) {
      font-size: 22px;
      line-height: 27px;
      text-align: center;
      margin-top: 20px;
    }
  }
  &__btn {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      padding: 18px 48px;
      margin: 0 8px;
      width: 100%;
      min-width: 230px;
      max-width: 230px;
      span {
        font-weight: bold;
        font-size: 22px;
        line-height: 24px;
      }
      svg {
        width: 12px;
        height: 18px;
        fill: #fff;
        margin-left: 8px;
      }
    }
    @media all and (max-width: $widthxl) {
      a {
        padding: 13px 0;
        min-width: 170px;
        max-width: 170px;
        span {
          font-size: 18px;
        }
      }
    }
    @media all and (max-width: $widthsm) {
      margin-top: 40px;
      width: 100%;
      flex-direction: column;
      a {
        padding:16px 0;
        width: 100%;
        margin-bottom: 8px;
        max-width: 276px;
        svg {
          width: 10px;
          height: 16px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        span {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
}

.what-xrp {
    background: $grey;
    @media all and (max-width: $widthsm) {
      background: transparent;
    }
  &__wrapper  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    @media all and (max-width: $widthmd) {
      flex-direction: column-reverse;
    }
  }
  &__left {
    padding-top: 196px;
    padding-bottom: 274px;
    max-width: 707px;
    @media all and (max-width: $widthlg) {
      max-width: 50%;
      padding-top: 120px;
      padding-bottom: 120px;
    }
    @media all and (max-width: $widthmd) {
      padding: 50px 0;
      max-width: initial;
      padding-top: 0;
    }
  }
  &__img {
    width: calc(100% - 707px);
    margin-bottom: 110px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media all and (max-width: $widthlg) {
      width: 100%;
      max-width: 50%;
    }
    @media all and (max-width: $widthlg) {
      margin-bottom: 0;
    }
    @media all and (max-width: $widthmd) {
      max-width: 400px;
    }
    @media all and (max-width: $widthsm) {
      max-width: 276px;
    }
  }
  &__subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: $blue;
    @media all and (max-width: $widthxl) {
      font-size: 16px;
    }
    @media all and (max-width: $widthsm) {
      font-size: 14px;
      text-align: center;
      line-height: 17px;
    }
  }
  &__title {
    position: relative;
    padding-top: 12px;
    margin-bottom: 42px;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: $dark-blue;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -20px;
      width: 58px;
      height: 3px;
      background: linear-gradient(90deg, $blue 0%, rgba(44, 103, 255, 0) 100%);;
    }
    @media all and (max-width: $widthxl) {
      font-size: 26px;
    }
    @media all and (max-width: $widthsm) {
      font-size: 22px;
      line-height: 100%;
      padding-top: 17px;
      nav-banner-image: 40px;
      text-align: center;
      &:before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &__text {
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 120%;
      color:$dark-blue;
      margin: 0;
      margin-bottom: 28px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media all and (max-width: $widthxl) {
      p {
        font-size: 16px;
      }
    }
    @media all and (max-width: $widthsm) {
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }
}

.global-xrp {
  position: relative;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 40px;
    @media all and (max-width: $widthlg) {
      padding-top: 40px;
    }
    @media all and (max-width: $widthmd) {
      flex-direction: column;
      padding-top: 20px;
    }
  }
  &__img {
    @media all and (max-width: $widthlg) {
      width: 100%;
      max-width: 50%;
      img {
        width: 100%;
      }
    }
    @media all and (max-width: $widthmd) {
      max-width: 100%;
    }
  }
  &__right {

    @media all and (max-width: $widthsm) {
      margin-left: 0;
    }
  }
  &__subtitle {
    @media all and (max-width: $widthsm) {
      text-align: center;
    }
  }
  &__title {
    @media all and (max-width: $widthsm) {
      text-align: center;
      &:before {
        left: 50%;
        transform: translateX(-50%);
      }
    }

  }
  &__text {

  }
}
.advantages {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 100%;
  @media all and (max-width: $widthlg) {
    position: static;
    transform: initial;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -7px;
    @media all and (max-width: $widthlg) {
      flex-wrap: wrap;
    }
  }
  &__item {
    background: $blue;
    width: calc(25% - 14px);
    margin: 0 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2C67FF;
    box-shadow: 0px 0px 50px rgba(44, 103, 255, 0.4);
    border-radius: 12px;
    padding-top: 43px;
    min-height: 226px;
    padding-bottom: 40px;
    @media all and (max-width: $widthlg) {
      width: calc(50% - 14px);
      margin-bottom: 14px;
    }
    @media all and (max-width: $widthsm) {
      padding: 12px 22px 12px 22px;
      position: relative;
      margin: 0;
      margin-bottom: 6px;
      width: 100%;
      min-height: initial;
    }
    @media all and (max-width: $widthm) {
      align-items: flex-start;
    }

  }
  &__icon {
    width: 50px;
    height: 50px;
    svg {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
    @media all and (max-width: $widthsm) {

      margin-bottom: 10px;
      width: 30px;
      height: 30px;
      left: 18px;
      top: 50%;
    }
    @media all and (max-width: $widthm) {
      position: absolute;
      transform: translateY(-50%);
    }
  }
  &__title {
    font-weight: bold;
    font-size: 26px;
    line-height: 100%;
    max-width: 236px;
    padding-top: 20px;
    padding-bottom: 11px;
    color: #fff;
    text-align: center;
    @media all and (max-width: $widthxl) {
      font-size: 22px;
    }
    @media all and (max-width: $widthsm) {
      padding-top: 0;
      font-size: 16px;
      line-height: 100%;
    }
    @media all and (max-width: 400px) {
      padding-left: 42px;
    }
  }
  &__text {
    text-align: center;
    max-width: 236px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #fff;
    @media all and (max-width: $widthxl) {
      font-size: 16px;
    }
    @media all and (max-width: $widthsm) {
      font-size: 14px;
      line-height: 100%;
      text-align: center;
    }
    @media all and (max-width: $widthm) {
      text-align: left;
      width: 100%;
      padding-left:42px;
    }

  }
}

.targets {
  background: #F5F5F5;
  padding-top: 68px;
  padding-bottom: 68px;
  @media all and (max-width: $widthsm) {
    padding-top: 41px;
    padding-bottom: 33px;
  }
  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: $dark-blue;
    &:before {
      display: none;
    }
    @media all and (max-width: $widthxl) {
      font-size: 30px;
      margin-bottom: 2px;
    }
    @media all and (max-width: $widthsm) {
      font-weight: bold;
      font-size: 22px;
      line-height: 100%;
      padding-top: 0;
      &:before {
        display: block;
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__col {
    margin-bottom: -83px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    &.one {
      align-items: flex-start;
      .targets-item {
        &:nth-child(1) {
          margin-left: 100px;
        }
        &:nth-child(3) {
          margin-left: 100px;

        }
      }
    }
    &.two {
      margin-top: 85px;
      align-items: center;
      img {
        width: 100%;
        max-width: 671px;
      }
      @media all and (max-width: $widthxl) {
        img {
          max-width: 510px;
        }
      }
      .targets-item {
        &__icon {
          left: 50%;
          transform: translateX(-50%);
        }
        @media all and (max-width: $widthxl) {
          margin-bottom: 83px;
        }
      }
    }
    &.three {
      align-items: flex-end;
      .targets-item {
        &:nth-child(1) {
          margin-right: 100px;
        }
        &:nth-child(3) {
          margin-right: 100px;

        }
      }
    }
    @media all and (max-width: $widthmd) {
      &.two {
        margin-top: 0;
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          max-width: 400px;
        }
      }
      .targets-item {
        display: none;
      }
    }
  }
}

.targets-slider {
  padding-top: 30px;
}
.targets-item {
  background: #FFFFFF;
  box-shadow: 15px 15px 40px rgba(11, 17, 26, 0.15);
  border-radius: 12px;
  position: relative;
  padding: 67px 36px 30px 36px;
  margin-bottom: 83px;
  width: 100%;
  max-width: 378px;
  @media all and (max-width: $widthxl) {
    max-width: 230px;
    padding: 40px 25px 25px 25px;
    margin-bottom: 45px;
  }
  @media all and (max-width: $widthmd) {
    margin: 0 auto !important;
    margin-bottom: 50px !important;
  }
  @media all and (max-width: $widthsm) {
    padding: 42px 22px 28px 22px;
  }
  &__icon {
    position: absolute;
    left: 36px;
    top: -24px;
    width: 70px;
    height: 70px;
    background: $blue;
    box-shadow: 5px 5px 20px rgba(44, 103, 255, 0.25);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 32px;
      height: 32px;
      fill: #fff;
    }
    @media all and (max-width: $widthxl) {
      width: 50px;
      height: 50px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    @media all and (max-width: $widthsm) {
      width: 46px;
      height: 46px;
      left: 50%;
      transform: translateX(-50%);
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
  &__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    color:$dark-blue3;
    @media all and (max-width: $widthxl) {
      font-size: 18px;
    }
    @media all and (max-width: $widthsm) {
      font-size: 16px;
      line-height: 100%;
      text-align: center;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    padding-top: 17px;
    color: $dark-blue2;
    opacity: 0.8;
    @media all and (max-width: $widthxl) {
      font-size: 14px;
    }
    @media all and (max-width: $widthsm) {
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      text-align: center;
      padding-top: 6px;
    }
  }
}

.next-generation {
  background: radial-gradient(50% 50% at 50% 50%, #151F2F 0%, #0B111A 100%), #0B111A;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  @media all and (max-width: $widthmd) {
    flex-direction: column;
  }
  &__left {
    width: 100%;
    max-width: 55%;
    position: relative;
    .mobile {
      display: none;
    }
    @media all and (max-width: $widthmd) {
      max-width: 100%;
      min-height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      .pc {
        display: none;
      }
      .mobile {
        display: block;
      }
    }
    @media all and (max-width: $widthsm) {
      min-height: 300px;
    }
    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
  &__video {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media all and (max-width: $widthmd)  {
      height: initial;
    }
    img {
      cursor: pointer;
      width: 100px;
      height: 100px;
    }
    @media all and (max-width: $widthsm) {
      width: 58px;
      height: 58px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__right {
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      background: url("/images/bg-circle.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 657px;
      height: 657px;
      position: absolute;
      top: -10px;
      right: -48px;
      content: '';
    }
    padding:265px 0;
    width: 100%;
    max-width: 45%;
    box-sizing: border-box;
    padding-right: calc((100vw - 1450px) / 2);
    @media all and (max-width: $widthxl) {
      padding: 200px 0;
      padding-right: calc((100vw - 1170px) / 2);
      padding-left: 25px;

      &:before {
        content: '';
        background: url("/images/bg-circle.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 457px;
        height: 457px;
        position: absolute;
        top: -10px;
        right: -48px;
        content: '';
      }
    }
    @media all and (max-width: $widthlg) {
      padding-right: 15px;
    }
    @media all and (max-width: $widthmd) {
      max-width: 100%;
      padding-top: 15px;
      padding-bottom: 50px;
      &:before {
        display: none;
      }
    }
  }
  &__title {
    color: #fff;
  }
  &__text {
    p {
      color: #fff;
      margin: 0;
      margin-bottom: 28px;
    }

  }
}

.our-customers {
  padding-top: 175px;
  padding-bottom: 152px;
  @media all and (max-width: $widthxl) {
    padding-top: 145px;
    padding-bottom: 122px;
  }
  @media all and (max-width: $widthmd) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media all and (max-width: $widthmd) {
      flex-direction: column;
    }
  }
  &__left {
    @media all and (max-width: $widthmd) {
      margin: 0 auto;
    }
  }
  &__title {
    @media all and (max-width: $widthmd) {
      text-align: center;
      &:before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &__text {
    @media all and (max-width: $widthmd) {
      text-align: center;
      margin-bottom: 40px;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media all and (max-width: $widthsm) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    & > div {
      margin: 0 35px;
      &.transfer {
        width: 232px;
        height: 58px;
      }
      &.nium {
        width: 187px;
        height: 54px;

      }
      &.scb {
        width: 170px;
        height: 55px;
      }
    }
    @media all and (max-width:$widthxl) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      max-width: 50%;
      div {
        height: initial !important;
        width: 33% !important;
        img {
          width: 100%;
        }
      }
    }
    @media all and (max-width: $widthmd) {
      //flex-wrap: wrap;
      width: 100%;
      max-width: 100%;
      justify-content: center;
      align-items: flex-start;
      & > div {
        margin-bottom: 40px;
      }
    }
    @media all and (max-width: $widthsm) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.new-era {
  background: radial-gradient(50% 50% at 50% 50%, #151F2F 0%, #0B111A 100%), #C4C4C4;

  &__wrapper {
    padding: 110px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &:before {
      background:url("/images/finance-line.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      display: block;
      width: 619px;
      height: 593px;
      position: absolute;
      right: 0;
      top: 0;
      content: '';
    }
    @media all and (max-width: $widthmd) {
      flex-direction: column;
    }
    @media all and (max-width: $widthsm) {
      padding-top: 52px;
      padding-bottom: 48px;
      &:before {
        width: 400px;
        height: 400px;
        top: initial;
        bottom: 110px;
      }
    }

  }
  &__left {
    max-width: 707px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    @media all and (max-width: $widthxl) {
      max-width: 400px;
    }
    @media all and (max-width: $widthmd) {
      max-width: initial;
      width: 100%;
      justify-content: center;
      align-items: center;
      p {
        text-align: center;
      }
    }
  }
  &__title {
    color: #fff;
    @media all and (max-width: $widthmd) {
      &:before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &__text {
    color: #fff;
    max-width: 616px;
    p {
      margin: 0;
      color: #fff;
      margin-bottom: 25px;
    }

  }
  &__btn {
    margin-top: 35px;
    width: 100%;
    max-width: 247px;
    @media all and (max-width: $widthmd) {
      display: none;
    }
  }
  &__btn-mobile {
    max-width: 276px;
    margin: 0 auto;
    margin-top: 30px;
  }
  &__right {
    padding-right: 30px;
    position: relative;
    z-index: 2;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media all and (max-width: $widthmd) {
      padding-right: 0;
      width: 100%;
    }
  }
}

.finance-advantages {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  @media all and (max-width: $widthlg) {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  @media all and (max-width: $widthmd) {
    width: 100%;
    justify-content: center;
    margin-top: 50px;
  }
  &__item {
    width: 208px;
    margin-left: 22px;
    @media all and (max-width: $widthlg) {
      width: 100%;
      max-width: 190px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 0;
      margin: 0 10px;
      margin-bottom: 20px;
    }

  }
  &__icon {
    background: linear-gradient(0deg, #192435, #192435), #FFFFFF;
    border:2px solid #24334A;
    border-radius: 12px;
    width: 92px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      fill: $blue;
      width: 50px;
      height: 50px;
    }
    @media all and (max-width: $widthmd) {
      width: 50px;
      height: 50px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
    @media all and (max-width: $widthsm) {
      width: 58px;
      height: 58px;
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
  &__title {
    padding-top: 24px;
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    color: #fff;
    max-width: 160px;
    @media all and (max-width: $widthxl) {
      font-size: 18px;
    }
    @media all and (max-width: $widthlg) {
      text-align: center;
    }
    @media all and (max-width: $widthmd) {
      font-size: 20px;
    }
    @media all and (max-width: $widthsm) {
      font-size: 16px;
    }

  }
  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    padding-top: 13px;
    color: #fff;
    @media all and (max-width: $widthxl) {
      font-size: 16px;
      max-width: 135px;
    }
    @media all and (max-width: $widthlg) {
      text-align: center;
    }
    @media all and (max-width: $widthmd) {
      text-align: center;
    }
    @media all and (max-width: $widthsm) {
      font-size: 14px;
    }
  }
}

.specially-designed {
  background: radial-gradient(50% 50% at 50% 50%, #151F2F 0%, #0B111A 100%), #C4C4C4;
  @media all and (max-width: $widthlg) {
    padding: 40px 0;
  }
  @media all and (max-width: $widthsm) {
    margin-top: 0;
    position: relative;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media all and (max-width: $widthsm) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &__left {

  }
  &__title {
    width: 100%;
    max-width: 707px;
    color: #fff;
    @media all and (max-width: $widthsm) {
      padding-top: 160px;
      text-align: center;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #fff;
    width: 100%;
    max-width: 736px;
    @media all and (max-width: $widthxl) {
      font-size: 16px;
    }
    @media all and (max-width: $widthsm) {
      text-align: center;
    }
    @media all and (max-width: $widthsm) {
      font-size: 14px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin:30px 0;
    span {
      font-weight: bold;
      font-size: 18px;
      line-height: 100%;
      color: #fff;
      width: 100%;
      max-width: 282px;
    }
    @media all and (max-width: $widthxl) {
      span {
        font-size: 16px;
      }
    }
    @media all and (max-width: $widthsm) {
      flex-direction: column;
    }
    span {
      @media all and (max-width: $widthsm) {
        font-size: 14px;
        text-align: center;
      }
    }
  }
  &__icon {
    background: linear-gradient(0deg, #192435, #192435), #FFFFFF;
    box-shadow: 5px 5px 20px rgba(23, 25, 31, 0.15);
    border-radius: 12px;
    width: 50px;
    height: 50px;
    margin-right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media all and (max-width: $widthsm) {
      margin-bottom: 12px;
      margin-right: 0;
    }
    svg {
      width: 24px;
      height: 24px;
      fill: $blue;
    }
  }
  &__btn {
    width: 100%;
    max-width: 197px;
    span {
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
    }
    @media all and (max-width: $widthxl) {
      max-width: 170px;
      padding: 13px 0;
      span {
        font-size: 18px;
        line-height: 24px;
      }
    }
    @media all and (max-width: $widthsm) {
      margin: 0 auto;
    }
  }
  &__img {
    width: 100%;
    max-width: 670px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media all and (max-width: $widthlg) {
      max-width: 400px;
    }
    @media all and (max-width: $widthsm) {
      top: -35px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      max-width: 276px;
    }
  }
}
