.keeping {
  position: relative;
  overflow:hidden;
  &:before {
    content: '';
    background: url("/images/keeping-bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -5%;
    top: 2%;
    bottom: 2%;
    height: 96%;
    width: 100%;
    max-width: 60%;
  }
  @media all and (max-width: $widthxl) {
    &:before {
      top: 0;
      right: 0;
    }

  }
  @media all and (max-width: $widthmd) {
    &:before {
      display: none;
    }
  }
  &__text {
    max-width: 523px;
  }
  &__btn {
    a {
     &:first-child {
       max-width: 264px;
       @media all and (max-width: $widthxl) {
         padding: 13px 28px;
         max-width: initial;
         width: initial;
         span {
           line-height: 24px;
         }
       }
     }
    }
  }
  &__img-tablet {
    @media all and (max-width: $widthmd) {
      position: relative;
      height: 300px;
      img {
        position: absolute;
        height:300px;
        left: -22px;
        max-width: initial !important;
        width: 100vw !important;
        object-fit: contain;
      }
    }
  }
}

.keeping-joing-block {
  @media all and (max-width: $widthmd) {
    top: -80px;
    position: relative;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    @media all and (max-width: $widthmd) {
      flex-direction: column;
    }
  }
  &__img {
    position: absolute;
    width: 100%;
    max-width: 818px;
    left: -80px;
    top: -170px;
    @media all and (max-width: $widthxl) {
      max-width: 600px;
      left: 0;
      top: -133px;
      img {
        width: 100%;
      }
    }
    @media all and (max-width: $widthmd) {
      position: relative;
      left: initial;
      top: 25px;
      max-width: 400px;
    }
  }
  &__right {
    padding-top: 254px;
    padding-bottom: 259px;
    max-width: 736px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media all and (max-width: $widthxl) {
      max-width: 550px;
      padding-top: 150px;
      padding-bottom: 200px;
    }
    @media all and (max-width: $widthlg) {
      max-width: 400px;
    }
    @media all and (max-width: $widthmd) {
      padding-top: 0;
      padding-bottom: 0;
      align-items: center;
    }
    @media all and (max-width: $widthsm) {
      max-width: 100%;
    }
  }
  &__title {
    max-width: 500px;
    @media all and (max-width: $widthmd) {
      text-align: center;
      &:before {
        left: 50%;
        transform: translateX(-50%);
      }
    }

  }
  &__text {
    max-width: 736px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    @media all and (max-width: $widthxl) {
      font-size: 16px;
    }
    @media all and (max-width: $widthmd) {
      text-align: center;
    }
    @media all and (max-width: $widthsm) {
      font-size: 14px;
    }
  }
  &__btn {
    margin-top: 20px;
    @media all and (max-width: $widthmd) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 276px;
      a {
        width: 100%;
      }
    }
    @media all and (max-width: $widthsm) {
      max-width: 100%;
    }
  }
}


.available {
  background:#F5F5F5;
  padding-top: 70px;
  padding-bottom: 115px;
  @media all and (max-width: $widthsm) {
    padding-bottom: 50px;
    padding-top: 43px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    @media all and (max-width: $widthsm) {
      position: relative;
    }
  }
  &__title {
    &:before {
      left: 50%;
      transform: translateX(-50%);
    }

  }
  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    max-width: 736px;
    text-align: center;
    color: $dark-blue2;
    padding-bottom: 60px;
    @media all and (max-width: $widthxl) {
      font-size: 16px;
    }
    @media all and (max-width: $widthsm) {
      padding-bottom: 43px;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
    }
  }
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: -40px;
    @media all and (max-width: $widthsm) {
      margin-bottom: -30px;
      height: 100%;
      max-height: 620px;
      transition: .3s linear;
      overflow-y: hidden;
      transition: .3s linear;
      &.js-active {
        max-height: initial;
      }
    }
  }
  &__item {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
    opacity: 0.3;
    &.active {
      opacity: 1;
    }
    @media all and (max-width: $widthlg) {
      width: 25%;
    }
    @media all and (max-width: $widthtable) {
      width: 33%;
    }
    @media all and (max-width: $widthsm) {
      width: 50%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
    }
  }
  &__img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    min-width: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media all and (max-width: $widthsm) {
      margin-right: 0;
    }

  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    strong {
      font-weight: bold;
      font-size: 22px;
      line-height: 100%;
      color: $dark-blue2;
    }
    span {
      color: $dark-blue2;
      opacity: 0.5;
      font-weight: 500;
      font-size: 18px;
      line-height: 120%;
    }
    @media all and (max-width: $widthxl) {
      strong {
        font-size: 20px;
      }
      span {
        font-size: 16px;
      }
    }
    @media all and (max-width: $widthsm) {
      align-items: center;
      strong {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 3px;
        font-size: 16px;
      }
      span {
        font-size: 12px;
        line-height: 120%;
        text-align: center;
      }
    }
  }
  &__btn {
    display: none;
    @media all and (max-width: $widthsm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: -26px;
      left: 50%;
      transform: translateX(-50%);
      text-decoration: none;
      transition: .3s linear;
      &.js-active {
        .available__btn-icon {
          transform: rotate(180deg);
        }
      }
      &-icon {
        transition: .3s linear;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 5px 5px 20px rgba(23, 25, 31, 0.15);
        border-radius: 50%;
        svg {
          width: 12px;
          height: 12px;
          fill: #2864FF;
        }
      }
      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        margin-top: 3px;
        color: $dark-blue2;
        opacity: 0.5;
      }
    }
  }
}

.wallet-works {
  position: relative;
  &:before {
    content: '';
    background: url("/images/wallet-bg1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 380px;
    height: 995px;
    position: absolute;
    left: 0;
    top: 200px;
  }
  &:after {
    content: '';
    background: url("/images/wallet-bg2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 380px;
    height: 995px;
    position: absolute;
    right: 0;
    top: 600px;
  }
  @media all and (max-width: 1800px) {
    &:before {
      width: 200px;
    }
    &:after {
      width: 200px;
    }
  }
  @media all and (max-width: $widthxl) {
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
  &__title {
    text-align: center;
    padding-top: 87px;
    &:before {
      left: 50%;
      transform: translateX(-50%);
    }
    @media all and (max-width: $widthsm) {
      padding-top: 45px;
    }
  }
  &__wrapper {
    margin-top: 73px;
    @media all and (max-width: $widthsm) {
      margin-bottom: 30px;
    }
  }
}

.wallet-works-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 65px;
  margin-bottom: 103px;
  position: relative;
  @media all and (max-width: $widthxl) {
    padding-left: 0;
    padding-right: 0;
    &:before {
      max-width: calc(100% - 320px) !important;
    }
  }
  @media all and (max-width: $widthmd) {
    &:before {
      display: none;
    }
  }
  @media all and (max-width: $widthsm) {
    margin-bottom: 36px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &.two {
    margin-bottom: 84px;
    @media all and (max-width: $widthsm) {
      flex-direction: column-reverse;
      margin-bottom: 36px;
    }
  }
  &.three {
    margin-bottom: 164px;
    &:before {
      top: calc(50% + 25px) !important;
    }
    @media all and (max-width: $widthsm) {
      //flex-direction: column-reverse;
      margin-bottom: 36px;
    }
  }
  &.four {
    margin-bottom: 75px;
    &:before {
      display: none;
    }
    @media all and (max-width: $widthsm) {
      flex-direction: column-reverse;
      margin-bottom: 36px;
    }
  }
  &:nth-child(odd) {
    &:before {
      position: absolute;
      width: 100%;
      height: 460px;
      background: url("/images/line1.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      top: calc(50% - 20px);
      max-width: 1000px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &:nth-child(even) {
    &:before {
      position: absolute;
      width: 100%;
      height: 460px;
      background: url("/images/line2.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      top: calc(50% - 20px);
      max-width: 1000px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.reverse {
    padding-left: 0;
    padding-right: 65px;
    justify-content: flex-end;
    @media all and (max-width: $widthxl) {
      padding-right: 0;
    }
  }
  &__right {
    max-width: 850px;
    @media all and (max-width: $widthxl) {
      max-width: 600px;
    }
    @media all and (max-width: $widthmd) {
      max-width: 350px;
    }
    @media all and (max-width: $widthsm) {
      max-width: 100%;
    }
  }
  &__title {
    max-width: 3900px;
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    @media all and (max-width: $widthsm) {
      font-weight: bold;
      font-size: 18px;
      line-height: 100%;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    @media all and (max-width: $widthxl) {
      font-size: 16px;
    }
    @media all and (max-width: $widthsm) {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      text-align: center;
    }
  }
  &__img {
    width: 320px;
    height: 320px;
    object-fit: contain;
    @media all and (max-width: $widthxl) {
      img {
        width: 100%;
      }
    }
    @media all and (max-width: $widthsm) {
      margin-bottom:22px;
      width: 140px;
      height: 140px;
    }
  }
}

.security {
  padding:85px 0;
  background: #f5f5f5;
  @media all and (max-width: $widthtable) {
    display: none;
  }
  &__wrapper {
    background: #FFFFFF;
    box-shadow: 15px 15px 100px rgba(23, 25, 31, 0.15);
    border-radius: 12px;
    padding: 86px 92px;
    padding-bottom: 0;
    min-height: 380px;
    box-sizing: border-box;
    max-width: calc(100% - 300px);
    position: relative;
    display: flex;
    align-items: flex-start;
    @media all and (max-width: $widthlg) {
      min-height: 400px;
    }
    @media all and (max-width: $widthmd) {
      max-width: calc(100% - 250px);
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0;
    }
  }
  &__tab {

  }
  &__block-item {
    display: none;
    &.js-active {
      display: block;
    }

  }
  &__title {

  }
  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 28px;
    @media all and (max-width: $widthxl) {
      font-size: 16px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    span {
      padding-left: 30px;
      margin-bottom: 14px;
      list-style: none;
      position: relative;
      font-weight: 500;
      font-size: 18px;
      line-height: 100%;
      &:before {
        content: '';
        background: url(/images/check-blue.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 15px;
        height: 10px;
        position: absolute;
        left: 0;
        top: 3px;
      }
      @media all and (max-width: $widthxl) {
        font-size: 16px;
      }
    }
  }
  &__tab-menu {
    position: absolute;
    top: 50%;
    left: calc(100% - 26px);
    transform: translateY(-50%);
  }
}

.security-menu-item {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 14px;
  &.js-active {
    .security-menu-item__icon {
      background: $blue;
      svg {
        fill: #fff;
      }
    }
    .security-menu-item__text {
      color: $blue;
    }
  }
  &:hover {
    .security-menu-item__icon {
      background: $blue;
      svg {
        fill: #fff;
      }
    }
    .security-menu-item__text {
      color: $blue;
    }
  }
  &__icon {
    width: 50px;
    min-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(23, 25, 31, 0.15);
    border-radius: 12px;
    transition: .3s linear;
    svg {
      width: 28px;
      height: 28px;
      fill: $dark-blue2;
      transition: .3s linear;
    }
  }
  &__text {
    margin-left: 22px;
    font-weight: bold;
    font-size: 22px;
    white-space: nowrap;
    line-height: 100%;
    color: $dark-blue2;
    transition: .3s linear;
    @media all and (max-width: $widthxl) {
      font-size: 20px;
    }
  }
}

.security-mobile {
  @media all and (max-width: $widthsm) {
    position: relative;
    padding-top: 45px;
    z-index: 2;
    background: #f5f5f5;
    padding-bottom: 10px;
  }
  &__wrapper {

  }
}
.security-mobile-item {
  box-shadow: 15px 15px 100px rgba(23, 25, 31, 0.15);
  border-radius: 8px;
  margin-bottom: 8px;
  background: #fff;

  &.js-active {
    .security-mobile-item__header {
      background: $blue;
      svg {
        fill: #fff;
      }
      span {
        color: #fff;
      }
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    transition: .3s linear;
    padding: 12px 22px;
    box-sizing: border-box;
    &.js-active {
      & > svg {
        transform: rotate(-90deg);
      }
    }
    & > svg {
      width: 6px;
      height: 12px;
      fill: $dark-blue2;
      transform: rotate(90deg);
      opacity: 0.5;
      transition: .3s linear;
    }

  }
  &__header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    svg {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      fill: $dark-blue2;
    }
    span {
      color: $dark-blue2;
      font-weight: bold;
      font-size: 18px;
      line-height: 100%;
    }
  }
  &__content {
    display: none;
  }
  &__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    text-align: left !important;
    padding-top: 24px;
    margin-left: 22px;
    margin-right: 22px;
    &:before {
      left: 0 !important;
      transform: initial !important;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    padding: 0 22px;
    padding-bottom: 15px;
    p {
      text-align: left !important;
    }
  }
  &__list {
    padding-bottom: 30px;
    margin-left: 22px;
    margin-right: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    span {
      padding-left: 20px;
      margin-bottom: 10px;
      position: relative;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      &:before {
        content: '';
        background: url(/images/check-blue.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 15px;
        height: 10px;
        position: absolute;
        left: 0;
        top: 3px;
      }
    }

  }
}

.shop-bein {
  padding-top: 35px;
  padding-bottom: 60px;
  background:$grey;
  @media all and (max-width: $widthmd) {
    padding-top: 90px;
  }
  @media all and (max-width: $widthsm) {
    padding-top: 175px;
  }
  @media all and (max-width: 500px) {
    padding-top: 135px;
  }
  @media all and (max-width: 400px) {
    padding-top: 100px;
  }
  &__wrapper {
    background: radial-gradient(50% 50% at 50% 50%, #151F2F 0%, #0B111A 100%), #2C67FF;
    border-radius: 12px;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
  &__card {
    bottom: -131px;
    position: absolute;
    left: -60px;
    .mobile {
      display: none;
    }
    @media all and (max-width: $widthxl) {
      width: 600px;
      bottom: -100px;
      height: 600px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    @media all and (max-width: $widthlg) {
      width: 600px;
      bottom: -70px;
      height: 600px;
    }
    @media all and (max-width: $widthmd) {
      width: 100%;
      left: 0;
      top: -32%;
      margin:0;
      height: 400px;
      .mobile {
        display: block;
        width: 100%;
        height: 100%;
      }
      .pc {
        display: none;
      }
    }
    @media all and (max-width: $widthsm) {
      top: -43%;
    }
  }
  &__right {
    margin-right: 230px;
    margin-top:  77px;
    margin-bottom: 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @media all and (max-width: $widthxl) {
      margin-right: 150px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    @media all and (max-width: $widthlg) {
      margin:50px;
      max-width: 50%;
    }
    @media all and (max-width: $widthmd) {
      width: 100%;
      max-width: 100%;
      padding-top: 170px;
    }
    @media all and (max-width: $widthsm) {
      padding-top: 35%;
      margin: 33px 22px;
      align-items: center;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: #fff;
    position: relative;
    margin-bottom: 38px;
    max-width: 560px;
    &:before {
      width: 58px;
      height: 3px;
      background: #FFFFFF;
      content: '';
      left: 0;
      position: absolute;
      bottom: -21px;
    }
    @media all and (max-width: $widthxl) {
      font-size: 26px;
    }
    @media all and (max-width: $widthsm) {
      font-size: 21px;
      &:before {
        background: linear-gradient(90deg, #2C67FF 0%, rgba(44, 103, 255, 0) 100%);
      }
    }
  }
  &__list {
    ul {
      padding-left: 0;
      li {
        padding-left: 30px;
        margin-bottom: 14px;
        list-style: none;
        position: relative;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #fff;
        &:before {
          content: '';
          background: url(/images/check-blue.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 15px;
          height: 10px;
          position: absolute;
          left: 0;
          top: 3px;
        }
        @media all and (max-width: $widthxl) {
          font-size: 16px;
        }
        @media all and (max-width: $widthsm) {
          font-weight: 500;
          font-size: 12px;
          line-height: 100%;
          margin-bottom: 8px;
        }
      }
    }
  }
  &__btn {
    width: 100%;
    max-width: 280px;
    @media all and (max-width: $widthxl) {
      margin-top: 10px;
    }
    span {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
    }
  }
}
