$blue:#2864FF;
$dark-blue: #192435;
$hover-blue:#0946E6;
$dark-blue2: #0B111A;
$dark-blue3:#17191F;
$grey:#F5F5F5;
$green: #2CCD6C;
$red:#FF4949;
$red2:#FF3333;
$lightgrey: #BDBDBD;
$widthxl: 1600px;
$widthlg: 1200px;
$widthmd:992px;
$widthtable:760px;
$widthsm:650px;
$widthm:400px;

