@import "@/assets/scss/partials/_colors.scss";
.transactions {
  display: flex;
  flex-direction: column;
  &__wrapper {
    position: relative;
    padding: 0px 40px 30px;
    height: 430px;
    margin: 0px -40px;
    @media (max-width: 1700px) {
      height: 215px;
    }
    @media (max-width: 889px) {
      height: auto;
      padding: 15px 20px;
      margin: 0px -20px;
    }
  }
  &__header {
    .block__title {
      margin-right: 16px;
    }
    @media (max-width: 767px) {
      flex-wrap: wrap;
      .block__title {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
      }
    }
  }
  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    &.empty {
      @media (max-width: 1023px) {
        margin-bottom: 30px;
      }
      .empty__text {
        font-size: 22px;
        opacity: 0.5;
        font-weight: bold;
        @media (max-width: 1700px) {
          font-size: 18px;
        }
        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
      .empty__btn {
        margin-top: 27px;
      }
      .card {
        background: #f6f6f6;
        border: 1px solid #e9e9e9;
        border-radius: 8px;
        padding: 100px 0;
        height: 100%;
        color: #0b111a;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 1700px) {
          padding: 65px 0px;
        }
        @media (max-width: 767px) {
          padding: 30px 0;
        }
        .icon {
          font-size: 53px;
          margin-bottom: 1rem;
          opacity: 0.5;
          @media (max-width: 767px) {
            font-size: 30px;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
    .ps__rail-y,
    .ps__thumb-y {
      width: 4px;
    }
    .ps__rail-y {
      transform: scale(1) translateX(-27px);
    }
  }
  &_inner {
    padding: 30px 0;
    background: #ffffff;
    box-shadow: 15px 15px 40px rgba(11, 17, 26, 0.15);
    border-radius: 18px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    .block__title {
      font-size: 26px;
    }
    .history {
      margin-bottom: 0;
      display: block;
      &__date {
        font-size: 14px;
      }
      &__wrapper {
        padding: 13px 17px 13px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid rgba($color: #696969, $alpha: 0.15);
      }
      .wallet_btn {
        &__title {
          font-size: 16px;
        }
        i {
          font-size: 28px;
        }
      }
      &__finance {
        small {
          font-size: 16px;
        }
      }
    }
    .transactions {
      &__wrapper {
        height: 552px;
      }
      &__body {
        &.empty {
          padding: 0 30px;
        }
      }
    }
  }
  &_general {
    .history {
      padding: 9px 35px;
      border-radius: 8px;
      &__finance {
        margin-right: 40px;
      }
    }
    .transactions__wrapper {
      height: 392px;
    }
  }
  &__filter {
    padding: 0 30px;
    &-block {
      padding: 24px 0 15px;
      display: flex;
    }
    &-label {
      font-weight: 500;
      color: rgba($color: #0b111a, $alpha: 0.5);
      margin-bottom: 13px;
      display: block;
      font-size: 16px;
    }
    &-item {
      margin-right: 15px;
      width: 100%;
      &:last-child {
        margin-right: 0;
      }
    }
    .select {
      .select__value {
        color: #0b111a;
        font-weight: 500;
      }
      &__icon_sorting {
        left: 20px;
      }
    }
    .select:not(.select__transparent) {
      .select__value {
        color: #0b111a;
        font-weight: 500;
        border-radius: 5px;
        border: 1px solid #e9e9e9;
        padding: 0 23px;
        .selected__value {
          color: #0b111a;
          font-weight: 500;
          padding: 0;
          padding: 0 25px;
          height: 50px;
          min-width: 100%;
        }
      }
      .select__dropdown_icon {
        right: 20px;
        font-size: 12px;
      }
    }
    @media (max-width: 1500px) {
      .select__icon_sorting {
        font-size: 12px;

        left: 15px;
      }
      .select:not(.select__transparent) .select__value {
        padding: 0 10px;
      }
    }
  }
}
.history {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-weight: 600;
  @media (max-width: 767px) {
    overflow: hidden;
  }
  &__more {
    font-size: 7px;
    color: #0b111a;
    opacity: 0.5;
    margin-left: 10px;
    &.show {
      transform: rotate(180deg);
    }
  }
  &.card {
    @media (max-width: 767px) {
      padding-bottom: 45px;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  &__date {
    min-width: 120px;
    color: $grey;
    font-weight: 500;
    @media (max-width: 767px) {
      position: absolute;
      left: 25px;
      bottom: 7px;
      font-size: 12px;
      color: $white;
      z-index: 1;
    }
    @media (max-width: 767px) {
      left: 25px;
    }
  }
  .btn i + span {
    @media (max-width: 767px) {
      margin-bottom: 14px;
    }
  }
  &__planish_link {
    flex-grow: 1;
  }
  &__finance {
    min-width: 100px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    @media (max-width: 767px) {
      min-width: 80px;
    }
  }
  &__status {
    min-width: 100px;
    text-align: center;
    @media (max-width: 767px) {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      padding: 6px 25px;
      font-size: 14px;
      text-align: right;
    }
  }
  .history__status-icon {
    background: rgba($color: #000000, $alpha: 0.15);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    margin-left: 17px;
    span {
      background: #0b111a;
      opacity: 0.3;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
    i {
      font-size: 8px;
      line-height: normal;
      display: flex;
    }
  }
  &.alert {
    .history__finance,
    .history__status {
      color: $alert;
    }
    .history__status {
      @media (max-width: 767px) {
        color: $white;
        background-color: $alert;
      }
    }
    .history__status-icon {
      background-color: #ff5a6b;
    }
  }
  &.success {
    .history__finance,
    .history__status {
      color: $success;
    }
    .history__status {
      @media (max-width: 767px) {
        color: $white;
        background-color: $success;
      }
    }
    .history__status-icon {
      background-color: #04c7a3;
    }
  }
  &.inprogress {
    .history__finance,
    .history__status {
      color: $grey;
    }
    .history__status {
      @media (max-width: 767px) {
        color: $white;
        background-color: $grey;
      }
    }
  }
  .wallet_btn {
    display: flex;
    align-items: center;
    text-align: left;
    i {
      color: $primary;
      font-size: 24px;
      margin-right: 10px;
    }
    &__text {
      display: flex;
      flex-direction: column;
    }
    &__title {
      font-size: 18px;
      font-weight: 600;
      @media (max-width: 1700px) {
        font-size: 16px;
      }
      @media (max-width: 1300px) {
        font-size: 14px;
      }
    }
    .wallet__name {
      font-size: 14px;
      color: $grey;
      font-weight: 500;
      @media (max-width: 1700px) {
        font-size: 14px;
      }
      @media (max-width: 1300px) {
        font-size: 12px;
      }
    }
    &__img {
      margin-right: 12px;
    }
  }
  &-info {
    padding: 20px 30px 14px;
    border-bottom: 2px solid rgba($color: #696969, $alpha: 0.15);
    &__lists {
      display: flex;
      flex-wrap: wrap;
    }
    &__list {
      margin-bottom: 8px;
      width: 35%;
      padding-right: 10px;
      &:first-child,
      &:nth-child(2) {
        width: 100%;
      }
      .icon-copy {
        color: #0b111a;
        opacity: 0.3;
        font-size: 14px;
      }
      .copy_text {
        font-weight: 500;
        font-size: 16px;
      }
    }
    &__name {
      color: rgba($color: #0b111a, $alpha: 0.5);
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 5px;
    }
    &__text {
      font-weight: 500;
      font-size: 16px;
    }
  }
}
.wallet__summary {
  width: 11%;
  .wallet_btn {
    text-align: right;
    width: 100%;
    justify-content: flex-end;
    &__title {
      font-weight: normal;
    }
  }
}
.wallet__search {
  position: relative;
  &-icon {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: 15px;
  }
  &-input {
    padding: 10px 20px 10px 46px;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 5px;
    width: 276px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;
    &::placeholder {
      color: rgba(11, 17, 26, 0.5);
      font-weight: 500;
      font-size: 16px;
    }
  }
}
.more_link {
  i {
    color: inherit !important;
    font-size: inherit !important;
  }
}
.profit {
  color: $grey;
  font-weight: 500;
  margin-top: 5px;
  font-size: 16px;
  @media (max-width: 1700px) {
    font-size: 14px;
  }
  @media (max-width: 1400px) {
    font-size: 12px;
  }
  small {
    font-size: 12px;
  }
  &__ammount {
    white-space: nowrap;
  }
  &__finance {
    color: $success;
    & + & {
      position: relative;
      margin-left: 0.8em;
      padding-left: 0.8em;
      @media (max-width: 1300px) {
        margin-left: 0.5em;
        padding-left: 0.5em;
      }
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -1px;
        display: block;
        height: 0.8em;
        border-left: 2px solid $grey;
        transform: translateY(-50%);
      }
    }
    .icon-currancy {
      font-size: 14px;
    }
    &.loss {
      color: $alert;
      .icon-arrow-up-double {
        transform: rotateX(180deg);
      }
    }
  }
}
.graph {
  display: block;
  width: 100%;
  img {
    display: block;
    width: 100%;
  }
}
.add_wallet {
  .btn {
    font-size: inherit !important;
    font-weight: inherit !important;
    i {
      font-size: inherit !important;
      color: inherit !important;
    }
    &:hover {
      color: inherit !important;
    }
  }
}
.wallet_select {
  width: 100%;
  margin-bottom: 25px;
}
.qr_code__label {
  font-size: 16px;
  margin-top: 21px;
  margin-bottom: 17px;
  color: $grey;
  @media (max-width: 767px) {
    margin-top: 20px;
  }
}
.confirm_button {
  width: 340px;
  @media (max-width: 767px) {
    width: 100%;
  }
}
.home {
  display: flex;
  flex-direction: column;
  .go-back {
    align-self: flex-start;
  }
  &__content {
    // flex-grow: 1;
    [class^="col-"],
    [class*="col-"] {
      @media (max-width: 889px) {
        flex-grow: 1;
        width: calc(100% - 22px);
        flex: 0 0 calc(100% - 22px);
        margin: 11px;
      }
    }
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    // grid-template-rows: 160px 160px auto;
    // grid-column-gap: 22px;
    // grid-row-gap: 0;
    // @media (max-width: 1700px) {
    //   // grid-template-rows: 110px 110px auto;
    // }
    // @media (max-width: 889px) {
    //   grid-template-columns: 1fr;
    //   grid-template-rows: auto;
    // }
    .xrp_block {
      @media (max-width: 767px) {
        flex-direction: column;
      }
      .btns {
        @media (max-width: 767px) {
          margin-top: 20px;
        }
      }
    }
    .usdx_block {
      @media (max-width: 767px) {
        flex-direction: column;
      }
      .btns {
        @media (max-width: 767px) {
          margin-top: 20px;
        }
      }
    }
    .hold_block {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      @media (max-width: 889px) {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
      }
      @media (max-width: 767px) {
        .balance__title {
          margin-bottom: 10px;
        }
        .balance {
          width: 100%;
        }
      }
    }
    .graph_block {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 4;
      @media (max-width: 889px) {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
      }
    }
    .block__link {
      text-align: right;
      @media (max-width: 889px) {
        text-align: center;
      }
    }
  }
}
.wallet-create {
  &__btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #0b111a;
    span {
      opacity: 0.5;
      margin-left: 6px;
    }
  }
}
.balance-block {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  &__wrapper {
    background: radial-gradient(50% 50% at 50% 50%, #3e475c 0%, #232836 100%), #ff1b1b;
    box-shadow: 15px 15px 40px rgba(11, 17, 26, 0.15);
    border-radius: 12px;
    padding: 25px 40px 25px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .balance__circle {
    width: 195px;
    height: 195px;
    .circle__main {
      box-shadow: 0px 0px 15px rgba(40, 152, 255, 0.5);
    }
    .circle__investment {
      box-shadow: 0px 0px 15px rgba(241, 175, 15, 0.5);
    }
  }
  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 184px;
    height: 184px;
    &::before {
      position: absolute;
      content: "";
      background-image: url("/images/client/balance-border.svg");
      width: 34px;
      height: 178px;
      right: -47px;
    }
  }
  &__total {
    font-size: 30px;
    color: #ffffff;
    &-text {
      color: #ffffff;
      opacity: 0.5;
      font-weight: 500;
      font-size: 16px;
    }
  }
  &__refresh {
    position: absolute;
    right: 10px;
    top: 20px;
    background: linear-gradient(127.9deg, #394156 0%, #2d3445 100%), linear-gradient(0deg, #ffffff, #ffffff), #0b111a;
    border: 1px solid rgba(244, 244, 244, 0.08);
    box-shadow: 4px 4px 15px rgba(34, 39, 51, 0.49), 8px 8px 40px rgba(23, 25, 31, 0.15);
    border-radius: 50%;
    color: #b3bdd7;
    width: 30px;
    height: 30px;
    padding: 4px;
  }
  &__bg {
    position: absolute;
    width: 100%;
    left: 0;
    pointer-events: none;
    z-index: 0;
  }
  &__info {
    z-index: 1;
  }
  &__actions {
    z-index: 1;
    .btn {
      background: linear-gradient(127.9deg, #394156 0%, #2d3445 100%);
      box-shadow: 4px 4px 15px rgba(34, 39, 51, 0.49);
      border-radius: 8px;
      width: 119px;
      height: 75px;
      border: none;
      color: #b3bdd7;
      font-weight: bold;
      font-size: 14px;
      flex-direction: column;
      text-align: center;
      display: flex;
      margin-bottom: 10px;
      transition: 0.2s;
      &:hover {
        color: white;
      }
      span {
        margin-left: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      i {
        font-size: 30px;
      }
    }
  }
}
.balance-summary {
  color: #ffffff;
  font-size: 22px;
  margin-left: 54px;
  line-height: 26px;
  span {
    display: block;
    color: #ffffff;
    opacity: 0.5;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }
  & > p {
    margin-bottom: 18px;
    &:last-child {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
  &__day {
    color: #1cc789;
    span {
      color: #ffffff;
      opacity: 0.5;
    }
  }
  &__highest {
    margin-left: 10px;
  }
}
