.box_info {
  font-size: 16px;
  @media (max-width: 767px) {
    font-size: 12px;
  }
}
.more_link {
  font-weight: 600;
}
.xrp_exchange {
  color: #2864ff;
  font-weight: 600;
  & > input {
    color: inherit;
    font-weight: inherit;
  }
}
.usdx_exchange {
  color: #8728ff;
  font-weight: 600;
  & > input {
    color: inherit;
    font-weight: inherit;
  }
}
.exchange_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  &.reversed {
    flex-direction: row-reverse;
    @media (max-width: 1023px) {
      flex-direction: column-reverse;
    }
  }
  &__item {
    flex: 0 0 calc(50% - 30px);
    width: calc(50% - 30px);
  }
  &__icon {
    width: 76px;
    flex: 0 0 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    font-size: 44px;
    padding: 10px;
    margin-right: 25px;
    @media (max-width: 1200px) {
      width: 50px;
      flex: 0 0 50px;
      height: 50px;
      font-size: 24px;
    }
  }
  .exchange__radio {
    .radioGroup {
      border-radius: 0;
      height: 40px;
      padding: 0 30px;
    }
    &:first-child {
      .radioGroup {
        border-radius: 8px 0 0 8px;
      }
    }
    &:last-child {
      .radioGroup {
        border-radius: 0 8px 8px 0;
      }
    }
  }
  .card--gradient {
    .exchange_cards__icon {
      color: #2898ff;
    }
  }
}
.converted_value,
.xrp_to_usd {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.exchange_info {
  position: relative;
  &__container {
    align-items: center;
    &.reversed {
      flex-direction: row-reverse;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      border-right: 2px dotted rgba(#0b111a, 0.5);
      transform: translateY(-50%);
    }
    &.reversed {
      .exchange_info__item {
        &:first-child {
          padding-right: 0px;
          padding-left: 40px;
          text-align: left;
          @media (max-width: 1023px) {
            padding-left: 10px;
          }
        }
        &:last-child {
          padding-left: 0px;
          padding-right: 40px;
          text-align: right;
          @media (max-width: 1023px) {
            padding-right: 10px;
          }
        }
      }
    }
  }
  &__item {
    position: relative;
    flex: 0 0 calc(50% - 18px);
    width: calc(50% - 18px);
    @media (max-width: 1023px) {
      font-size: 12px;
    }
    &:first-child {
      padding-right: 40px;
      text-align: right;
      @media (max-width: 1023px) {
        padding-right: 10px;
      }
    }
    &:last-child {
      padding-left: 40px;
      @media (max-width: 1023px) {
        padding-left: 10px;
      }
    }
  }
  &__title {
    font-size: 16px;
    font-weight: 500;
    color: rgba(#0b111a, 0.5);
    @media (max-width: 1023px) {
      font-size: 12px;
    }
  }
  &__currency_amount {
    font-size: 22px;
    font-weight: 600;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @media (max-width: 1023px) {
      font-size: 14px;
      small {
        font-size: 1em;
      }
    }
    &_usd {
      color: rgba(#0b111a, 0.5);
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    flex: 0 0 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(23, 25, 31, 0.15);
    font-size: 16px;
    position: relative;
    z-index: 1;
  }
}
.data_transfer_icon {
  margin-top: 45px;
}
@media (max-width: 1023px) {
  .exchange_card__usdx,
  .exchange_card__xrp {
    width: 100%;
    flex: 0 0 100%;
  }
  .data_transfer_icon {
    margin: 30px auto;
    transform: rotate(90deg);
  }
  .exchange_info {
    .col-6 {
      width: calc(100% - 22px);
      flex: 0 0 calc(100% - 22px);
      max-width: 276px;
    }
  }
}
@media (max-width: 767px) {
  .exchange_cards__info {
    font-size: 14px;
  }
}
