@font-face {
  font-family: 'fontello';
  src: url('/fontello.eot?67436106');
  src: url('/fontello.eot?67436106#iefix') format('embedded-opentype'),
       url('/fontello.woff2?67436106') format('woff2'),
       url('/fontello.woff?67436106') format('woff'),
       url('/fontello.ttf?67436106') format('truetype'),
       url('/fontello.svg?67436106#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?67436106#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-exchange:before { content: '\e800'; } /* '' */
.icon-about:before { content: '\e801'; } /* '' */
.icon-angle-right:before { content: '\e802'; } /* '' */
.icon-arrow-bottom:before { content: '\e803'; } /* '' */
.icon-arrow-left-middle:before { content: '\e804'; } /* '' */
.icon-arrow-mobile:before { content: '\e805'; } /* '' */
.icon-arrow-right:before { content: '\e806'; } /* '' */
.icon-arrow-right-long:before { content: '\e807'; } /* '' */
.icon-arrow-right-middle:before { content: '\e808'; } /* '' */
.icon-arrows:before { content: '\e809'; } /* '' */
.icon-arrow-up:before { content: '\e80a'; } /* '' */
.icon-arrow-up-double:before { content: '\e80b'; } /* '' */
.icon-ascending-sorting:before { content: '\e80c'; } /* '' */
.icon-ascending-sorting-up:before { content: '\e80d'; } /* '' */
.icon-attach:before { content: '\e80e'; } /* '' */
.icon-bank:before { content: '\e80f'; } /* '' */
.icon-calendar:before { content: '\e810'; } /* '' */
.icon-candlestick-chart:before { content: '\e811'; } /* '' */
.icon-check:before { content: '\e812'; } /* '' */
.icon-checked:before { content: '\e813'; } /* '' */
.icon-checked-circle:before { content: '\e814'; } /* '' */
.icon-close:before { content: '\e815'; } /* '' */
.icon-closed-eye:before { content: '\e816'; } /* '' */
.icon-coins:before { content: '\e817'; } /* '' */
.icon-copy:before { content: '\e818'; } /* '' */
.icon-currancy:before { content: '\e819'; } /* '' */
.icon-data-transfer:before { content: '\e81a'; } /* '' */
.icon-delete:before { content: '\e81b'; } /* '' */
.icon-dollar-bitcoin:before { content: '\e81c'; } /* '' */
.icon-exchange-1:before { content: '\e81d'; } /* '' */
.icon-eye:before { content: '\e81e'; } /* '' */
.icon-filter:before { content: '\e81f'; } /* '' */
.icon-full:before { content: '\e820'; } /* '' */
.icon-help:before { content: '\e821'; } /* '' */
.icon-hold:before { content: '\e822'; } /* '' */
.icon-hours:before { content: '\e823'; } /* '' */
.icon-increase:before { content: '\e824'; } /* '' */
.icon-info:before { content: '\e825'; } /* '' */
.icon-leaderboard:before { content: '\e826'; } /* '' */
.icon-lock:before { content: '\e827'; } /* '' */
.icon-logout:before { content: '\e828'; } /* '' */
.icon-loyalty-card:before { content: '\e829'; } /* '' */
.icon-minus:before { content: '\e82a'; } /* '' */
.icon-money:before { content: '\e82b'; } /* '' */
.icon-more:before { content: '\e82c'; } /* '' */
.icon-notification:before { content: '\e82d'; } /* '' */
.icon-plus:before { content: '\e82e'; } /* '' */
.icon-plus-outline:before { content: '\e82f'; } /* '' */
.icon-plus-outline-empty:before { content: '\e830'; } /* '' */
.icon-prize:before { content: '\e831'; } /* '' */
.icon-qr-code:before { content: '\e832'; } /* '' */
.icon-refresh:before { content: '\e833'; } /* '' */
.icon-reload:before { content: '\e834'; } /* '' */
.icon-search:before { content: '\e835'; } /* '' */
.icon-settings:before { content: '\e836'; } /* '' */
.icon-sign-in:before { content: '\e837'; } /* '' */
.icon-sign-out:before { content: '\e838'; } /* '' */
.icon-sircle:before { content: '\e839'; } /* '' */
.icon-smile-sad:before { content: '\e83a'; } /* '' */
.icon-submit-progress:before { content: '\e83b'; } /* '' */
.icon-checked-square:before { content: '\e83c'; } /* '' */
.icon-support:before { content: '\e83d'; } /* '' */
.icon-ticket:before { content: '\e83e'; } /* '' */
.icon-user:before { content: '\e83f'; } /* '' */
.icon-wallet:before { content: '\e840'; } /* '' */
.icon-wallets:before { content: '\e841'; } /* '' */
.icon-wallet-outline:before { content: '\e842'; } /* '' */
