$bg-dark: #0B111A;
$text: #0B111A;
$bg-light: #E5E5E5;
$black: #000;
$white: #fff;
$primary: #2864FF;
$primary-light: #2898FF;
$success: #04C7A3;
$alert: #FF5A6B;
$grey: rgba($bg-dark, .5);
$grey-light: #E9E9E9;
$grey-lighter: #F8F8F8;
$purple: #8728FF;
$purple-light: #C728FF;
$primary50: rgba($primary, .5);


$gradient: linear-gradient(to right, $primary, $primary-light);
$gradient-purple: linear-gradient(to right, $purple, $purple-light);
$gradient-dark: linear-gradient(to right, $bg-dark, lighten($bg-dark, 2%));



.text--black{
    color: $text;
}
.text--primary{
    color: $primary;
}
.text--primary50{
    color: $primary50;
}
.text--grey{
    color: $grey;
}
.text--purple{
    color: $purple;
}
.text--success{
    color: $success;
}
.text--alert{
    color: $alert;
}
.text--white{
    color: $white;
}
.text--white50{
    color: rgba($white, 0.5);
}

.bg--white{
    background-color: $white !important;
}